<div class="accueil">
    <div class="container menu mt-5">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40" viewBox="0 0 23.8 20.373">
                <path id="ic_menu_24px" d="M3,26.373H26.8v-3.4H3Zm0-8.489H26.8v-3.4H3ZM3,6V9.4H26.8V6Z" transform="translate(-3 -6)" fill="#fff"/>
            </svg>
        </button>
    </div>
    <div class="container-titleAndBtn">
        <div class="container-title">
            <h1>Le Quai Antique</h1>
            <p>Chef Arnaud Michant</p>
        </div>
        <div class="container-btn">
            <button class="btn btn-outline-light">La carte</button>
            <button class="btn btn-outline-light">Réserver</button>
        </div>
    </div>
</div>