<footer>
    <div class="container-reseau">
        <svg id="Groupe_5" data-name="Groupe 5" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
            <path id="Tracé_1" data-name="Tracé 1" d="M0,0H24V24H0Z" fill="none"/>
            <path id="Tracé_2" data-name="Tracé 2" d="M7,10v4h3v7h4V14h3l1-4H14V8a1,1,0,0,1,1-1h3V3H15a5,5,0,0,0-5,5v2H7" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
        </svg>
        <svg id="Groupe_6" data-name="Groupe 6" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
            <path id="Tracé_4" data-name="Tracé 4" d="M4,8,4,8A4,4,0,0,1,8,4h8a4,4,0,0,1,4,4v8a4,4,0,0,1-4,4H8a4,4,0,0,1-4-4Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
            <path id="Tracé_5" data-name="Tracé 5" d="M9,12,9,12a3,3,0,1,0,3-3,3,3,0,0,0-3,3" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
            <path id="Tracé_6" data-name="Tracé 6" d="M16.5,7.5v.01" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
        </svg>
        <svg id="Groupe_7" data-name="Groupe 7" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
            <path id="Tracé_7" data-name="Tracé 7" d="M0,0H24V24H0Z" fill="none"/>
            <path id="Tracé_8" data-name="Tracé 8" d="M22,4.01A17.943,17.943,0,0,1,19,5a3.789,3.789,0,0,0-4.38-.737A3.933,3.933,0,0,0,12,8V9A9.392,9.392,0,0,1,4,5S-.182,12.433,8,16a9.856,9.856,0,0,1-6,2,13.425,13.425,0,0,0,10.034,1.517,11,11,0,0,0,7.651-7.742,13.84,13.84,0,0,0,.5-3.753c0-.249,1.51-2.772,1.818-4.013Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
        </svg>
    </div>
    <div class="container-droit">
        <span>Le Quai Antique 2023 | Tous droit réservés.</span>
        <a href="#">Avis de santé et sécurité</a>
        <a href="#">Politique de confidentialité</a>
    </div>
</footer>